/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* App background color */
.App {
  background-color: #ADD8E6; /* Pale blue color */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


/* Header styles */
h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Point and phrase styles */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Feeling input styles */
label {
  font-size: 18px;
  margin-bottom: 20px;
}

input[type="number"] {
  padding: 12px 20px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

/* Completion message styles */
.completion-message {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Phrase styles */
.phrase {
  font-size: 24px;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #4db6ac; /* Color chosen to create a calm feeling */
  border-radius: 8px;
}

/* Point styles */
.point {
  font-size: 24px;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #4db6ac; /* Color chosen to create a calm feeling */
  border-radius: 8px;
}
